@model List<UserFile>
@{
    ViewData["Title"] = "Files";
}
@section Scripts
{
    <script>
        $(document).ready(function(){
            var hasStartCreatingExcel='@TempData["StartCreatingExcel"]';

            if(hasStartCreatingExcel)
            {
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    title: 'Excel oluşturma başlamıştır...',
                    showConfirmButton: true,
                    timer:2500
                })
            }

        })
    </script>
}
<h1>Files</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name </th>
            <th>Created Date</th>
            <th>File Status </th>
            <th>Download </th>
        </tr>

    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FileName</td>
            <td>@item.GetCreatedDate</td>
            <td>@item.FileStatus</td>
            <td>
                <a href="~/Files/@item.FilePath" class="btn btn-outline-primary @(item.FileStatus==FileStatus.Creating?"disabled":"")">Download Excel</a>
            </td>

        </tr>
    }

</table>

